@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.reviews, .reviews > ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.App {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100svh;
    flex-direction: column;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form > div {
    display: flex;
    justify-content: start;
    gap: 10px;
}

label {
    width: 100%;
}

button {
    background-color: rgba(33, 57, 173, 0.51);
    color: white;
    border: none;
    cursor: pointer;
}